html {
    font-size: 60%;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #eee;
    padding: 0 75px 30px 75px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 1%;
    padding-right: 60px;
    background-color: #eee;
    z-index: 10;
    max-width: 1000px;
}


@media screen and (max-width: 768px) {
    body {
        padding: 0 0 30px 0;
    }
}

.header__l {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 110;
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

.header__icon {
    display: flex;
    align-items: center;
}

.header__hidden {
    display: none;
}

.header__open {
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
    background-color: rgb(63, 90, 242);
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}

.header__open:hover {
    opacity: 0.8;
}

.header__open span,
.header__open span:before,
.header__open span:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: #fff;
    transition: 0.2s;
}

.header__open span:before {
    bottom: 6px;
    width: 10px;
}

.header__open span:after {
    top: 6px;
    width: 6px;
}

#header__input:checked~.header__open span {
    background: rgba(0, 0, 0, 0);
}

#header__input:checked~.header__open span::before {
    bottom: 0;
    transform: rotate(45deg);
    width: 16px;
}

#header__input:checked~.header__open span::after {
    top: 0;
    transform: rotate(-45deg);
    width: 16px;

}
.header-nav{
    margin-top: 200px;

}
.header-nav__content {
    position: fixed;
    top: -100%;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    height: 100%;
    background-color: white;
    transition: right 0.5s;
    z-index: 99;
}

.header-nav__list {
    list-style: none;
    height: 60%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header__input:checked~.header-nav__content {
    top: 0;
}
.header-nav__item {
    font-size: 2.8rem;
    text-align: center;
    padding-bottom: 10px;
    display: block;
}
.header-nav__link_b{
    font-size: 2.8rem;
    font-weight: bold;
}

.header-nav__link{
    text-decoration: none;
    font-weight: bold;
}

.header-nav__item:hover {
    opacity: 0.8;
}

.header-nav__item-link {
    color: rgb(63, 90, 242);
    text-decoration: none;
    font-weight: bold;
    font-size: 2.8rem;
    background: none;
    padding: 0;
    cursor: pointer;
}

.header-nav__link button {
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
}

.header__logo {
    font-size: 2.8rem;
    color: rgb(63, 90, 242);
    padding-left: 16px;
    font-weight: bold;
}
