main {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.detail__wrap {
    flex: 1;
    margin-right: 20px;
    /* 店舗情報と予約部分の間隔を調整する */
}

.reservation__form {
    flex: 1;
}
.detail__image-img {
    max-width: 10%;
    height: auto;
}