.user__name {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.my_page__wrap {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.reservation__wrap {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.reservation__tab {
    display: flex;
    flex-wrap: wrap;
}

.reservation__title,
.favorite__title {
    font-size: clamp(1.2rem, 0.6288rem + 1.34vw, 2rem);
    font-weight: bold;
    padding-bottom: 20px;
    top: 100px;
    background-color: #eee;
}

.reservation__content-wrap {
    width: 100%;
}

.reservation__content {
    margin-bottom: 20px;
    padding: 10px 10% 30px 10%;
    background-color: rgb(56, 86, 178);
    border-radius: 5px;
    color: #fff;
    font-size: 1.6rem;
}

.reservation__content--steelblue {
    background-color: rgb(34, 63, 149);
}

.reservation__header {
    display: flex;
    justify-content: space-between;
}

.header__title {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.reservation__header__title {
    text-decoration: none;
    color: inherit;
}

.form__button--edit,
.form__button--cancel {
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgb(84, 124, 243);
    border-radius: 5px;
    color: #fff;
    font-size: 1.6rem;
}

.form__button--edit span,
.form__button--cancel span {
    font-size: 0;
    visibility: hidden;

}
.reservation__table th,
.reservation__table td {
    text-align: justify;
    padding: 8px;
}

.reservation__header_button{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    padding-top: 15px;
}
.reservation__footer_button{
    display: flex;
    justify-content: space-between;
    }

.mobile-favorite__wrap{
    display: flex;  
    justify-content: space-between;
    gap: 30px;
    }

.shop__wrap {
    display: flex;
    gap: 15px 1%;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
}

.shop__content {
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    background-color: #fff;
}

.favorite__wrap_c{
    max-width: 450px;
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
    justify-content: space-between;
}
.shop__image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.shop__item {
    margin: 10px;
}

.shop__title {
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0 0 0;
}

.shop__tag {
    display: flex;
    font-size: 1.2rem;
    margin-top: 5px;
}

.shop__tag-info {
    margin: 0;
    padding-right: 5px;
}

.shop__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.shop__button-detail {
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: rgb(63, 90, 242);
    border: 1px solid rgb(63, 90, 242);
    border-radius: 5px;
    color: #fff;
    padding: 0 16px;
    height: 30px;
    cursor: pointer;
    font-size: 1.2rem;
}

.shop__button-detail:hover {
    opacity: 0.8;
}

.shop__button-favorite-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #fff;
}

.shop__button-favorite-btn:hover {
    opacity: 0.6;
}

.form__button--qr {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    background-color: rgb(221, 85, 12);
    border-radius: 5px;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
}

.form__button--pay{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    background-color: rgb(11, 218, 97);
    border-radius: 5px;
    font-size: 1.6rem;
    text-decoration: none;
    color: #070707;
}
@media screen and (max-width: 768px) {

    .reservation__header__title {
    font-size: 10px;
    }

    .form__button--edit,
    .form__button--cancel {
        font-size: 10px;
    }


    .shop__wrap {
    justify-content: center;
    gap: 15px 30px;
    }

    .favorite__btn-image {
        width: 20px;
        height: 10px;
}
}