/* 全体のコンテナスタイル */
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

/* アラートメッセージのスタイル */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* カードのスタイル */
.card {
    border: 1px solid #979393;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #21568b;
    border-bottom: 1px solid #5c5a5a;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.card-body {
    padding: 15px;
}

/* フォームフィールドのスタイル */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #5d5a5a;
    border-radius: 5px;
    box-sizing: border-box;
}

#card-errors {
    margin-top: 10px;
    font-size: 14px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.mt-3 {
    margin-top: 1rem !important;
}

.text-right {
    text-align: right;
}

@media (max-width: 768px) {
    .col-6 {
        width: 100%;
        margin-bottom: 20px;
    }
}