main {
    margin-top: 1000px;
}

.auth__wrap {
    margin: auto;
    max-width: 350px;

}

.auth__header {
    background-color: rgb(63, 90, 242);
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1.6rem;
    padding: 15px;
}

